/* Use the 'Lato' font family at 18px throughout the body of the document, and cover the background with the './img/map-bg.jpg' image. */

@font-face {
    font-family: 'Lato';
    src: url('https://fonts.googleapis.com/css?family=Lato|Supermercado+One');
}

@font-face {
    font-family: 'Supermercado One';
    src: url('https://fonts.google.com/specimen/Supermercado+One?selection.family=Supermercado+One');
}

body {
    background-image: url("map-bg.jpg");
    font-family: 'Lato', Fallback, sans-serif;
    font-size: 18px;
}

h1 {
    font-family: 'Supermercado One', cursive;
    font-size: 45px;
    color: #5d4037;
}

nav {
    font-family: sans-serif;
    font-size: 10px;
}

#main {
    width: 900px;
    margin: 10px auto;
}

#menu {
    columns: 400px 2;
    column-gap: 100px;
    column-rule-style: dashed;
    column-rule-width: 2px;
    column-rule-color: rosybrown;
}

section {
    margin-bottom: 50px;
}

#starters h2 {
    font-variant: small-caps;
    color: #6d4c41;
}

#soupssalads h2 {
    font-variant: small-caps;
    color: #6d4c41;
}

#entrees h2 {
    font-variant: small-caps;
    color: #6d4c41;
}

#desserts h2 {
    font-variant: small-caps;
    color: #6d4c41;
}

dt {
    font-weight: bold;
    font-size: 20px;
}

h2 {
    margin: 0;
}

dd {
    margin: 0 0 12px 0;
    display: flex;
}

.details {
    order: 1;
}

.price {
    order: 2;
    padding-left: 10px;
    font-size: large;
    color: firebrick;
}

address {
    padding: 10px;
    border: rosybrown;
    border-style: dashed;
}